In [1]:
import pandas as pd
from functools import wraps


transform_log = {}

def log_transform(func):
    @wraps(func)
    def wrapper(*args, **kwargs):
        data = args[0]
        transform_name = func.__name__
        
 
        if transform_name not in transform_log:
            transform_log[transform_name] = []
        

        transform_info = {
            "df_before": data.copy(),
            "args": args,
            "kwargs": kwargs
        }
        
        result = func(*args, **kwargs)
        

        transform_info["df_after"] = result.copy()
        

        transform_log[transform_name].append(transform_info)
        
        return result
    return wrapper

@log_transform
def drop_columns(df, cols_to_drop):
    return df.drop(columns=cols_to_drop)

@log_transform  
def rename_columns(df, rename_dict):
    return df.rename(columns=rename_dict)

# Test Example

df = pd.DataFrame({"A": [1, 2], "B": [3, 4]}) 

df = drop_columns(df, ["A"])
df = rename_columns(df, {"B": "C"})

df = rename_columns(df, {"C": "Jainam"})


print(transform_log)

{'drop_columns': [{'df_before':    A  B
0  1  3
1  2  4, 'args': (   A  B
0  1  3
1  2  4, ['A']), 'kwargs': {}, 'df_after':    B
0  3
1  4}], 'rename_columns': [{'df_before':    B
0  3
1  4, 'args': (   B
0  3
1  4, {'B': 'C'}), 'kwargs': {}, 'df_after':    C
0  3
1  4}, {'df_before':    C
0  3
1  4, 'args': (   C
0  3
1  4, {'C': 'Jainam'}), 'kwargs': {}, 'df_after':    Jainam
0       3
1       4}]}

In [18]:
def save_log_to_file():
    # File path
    log_file_path = "transform_log.txt"

    # Open the text file for writing
    with open(log_file_path, "w") as log_file:
        for transform_name, history_list in transform_log.items():
            log_file.write(f"Transformation: {transform_name}\n")

            for index, transform_info in enumerate(history_list, start=1):
                log_file.write(f"  Transformation #{index}:\n")
                log_file.write("  Arguments:\n")
                for arg in transform_info["args"]:
                    log_file.write(f"    {arg}\n")
                log_file.write("Keyword Arguments:\n")
                for key, value in transform_info["kwargs"].items():
                    log_file.write(f"    {key}: {value}\n")
                log_file.write("DataFrame Before:\n")
                log_file.write(f"{transform_info['df_before']}\n")
                log_file.write("DataFrame After:\n")
                log_file.write(f"{transform_info['df_after']}\n")
                log_file.write("\n")

    print(f"Transform log saved to {log_file_path}")

In [13]:
df

   Jainam
0       3
1       4

In [14]:
transform_info

{'df_before':    C
 0  3
 1  4,
 'args': (   C
  0  3
  1  4,
  {'C': 'Jainam'}),
 'kwargs': {},
 'df_after':    Jainam
 0       3
 1       4}

In [15]:
transform_log

{'drop_columns': [{'df_before':    A  B
   0  1  3
   1  2  4,
   'args': (   A  B
    0  1  3
    1  2  4,
    ['A']),
   'kwargs': {},
   'df_after':    B
   0  3
   1  4}],
 'rename_columns': [{'df_before':    B
   0  3
   1  4,
   'args': (   B
    0  3
    1  4,
    {'B': 'C'}),
   'kwargs': {},
   'df_after':    C
   0  3
   1  4},
  {'df_before':    C
   0  3
   1  4,
   'args': (   C
    0  3
    1  4,
    {'C': 'Jainam'}),
   'kwargs': {},
   'df_after':    Jainam
   0       3
   1       4}]}

In [16]:
df = rename_columns(df, {"Jainam": "Gala"})

In [19]:
save_log_to_file()

Transform log saved to transform_log.txt

In [1]:
df

NameError: name 'df' is not defined